<div class="center" *ngIf="!isLoader">
    <app-loader></app-loader>
</div>
<div class="row mainContent" *ngIf="isLoader">
    <div class="center" *ngIf="isEmpty">
        <h3>Sorry, your bookmarks are empty</h3>
    </div>
    <div  class="content" *ngIf="!isEmpty">
        <app-image-item 
            class="col s12 m6 l4" 
            *ngFor="let image of yourBookmarks"
            [image]="image"
            [isBookmarks]="image.bookmark"
            [hideFieldTags]="true" 
        >       
        </app-image-item>
    </div>
</div>

    