<div id="app" class="container">  
    <ul class="page">
        <li class="page__btn disabled" [class.disabled]="previousDisabled" (click)="previousPage()"><span class="material-icons">chevron_left</span></li>
        <li 
          class="page__numbers" 
          *ngFor="let page of maxShowPages"  
          [class.active]="page === currPage"
          (click)="choosePage(page)"
          > {{page}}</li>
        <li class="page__dots">...</li>
        <li class="page__numbers"> {{maxPages}}</li>
        <li class="page__btn" [class.disabled]="nextDisabled"  (click)="nextPage()"><span class="material-icons" >chevron_right</span></li>
      </ul>
    </div>
