.container {
    background: #cbe0dd;
    color: #2d4848;
}
  
ul {
    list-style-type: none;
}
  
.items-list {
    max-width: 90vw;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
    justify-content: center;
    align-content: center;
}
@media only screen and (max-width: 600px) {
    .items-list {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
.item {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2d4848;
    cursor: pointer;
}

.item span {
    background: #ffffff;
    box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
    border-radius: 0.6rem;
    padding: 2rem;
    font-size: 3rem;
    transition: all 0.3s ease;
}

.item:hover span {
    transform: scale(1.2);
    color: #23adad;
}

.item p {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #23adade1;
}
  
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-radius: 0.6rem;
    background: #ffffff;
    box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
}

.page__numbers, .page__btn, .page__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.page__dots {
    width: 2.6rem;
    height: 2.6rem;
    color: #23adade1;
    cursor: initial;
}

.page__numbers {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.4rem;
}

.page__numbers:hover { color: #23adad; }

.page__numbers.active {
    color: #ffffff;
    background: #23adad;
    font-weight: 600;
    border: 1px solid #23adad;
}

.page__btn { color: #23adade1; }

.page__btn.active { color: #2d4848; }

.page__btn.active:hover { color: #23adad; }

li { cursor: pointer; }

.disabled { color: #B39F99; }